<div
  class="container-fluid custom-container text-center text-lg-start bg-body-tertiary text-muted"
>
  <div class="inside-container text-center text-md-start">
    <!-- Grid row -->
    <div class="row text-center mt-3">
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="fw-bold mb-4">Contact Us</h6>
        <p>
          <a href="#!" class="text-reset">1800-102-1265</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Whatsapp</a>
        </p>
        <p>
          <a href="#!" class="text-reset">sample@email.com</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Address</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="fw-bold mb-4">Who we are</h6>
        <p>
          <a href="#!" class="text-reset">Team</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Reviews</a>
        </p>
        <p>
          <a href="#!" class="text-reset">News</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Awards</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Careers</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="fw-bold mb-4">What we do</h6>
        <p>
          <a href="#!" class="text-reset">How it works</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Help</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Calculators</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Blog</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="fw-bold mb-4">Terms of Use</h6>
        <p>
          <a href="#!" class="text-reset">Terms of Use</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Privacy Policy</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Sitemap</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="fw-bold mb-4">Download App</h6>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="white"
            class="bi bi-apple"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"
            />
            <path
              d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"
            />
          </svg>
          <a href="#!" class="text-reset">AppStore</a>
        </p>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="white"
            class="bi bi-google-play"
            viewBox="0 0 16 16"
          >
            <path
              d="M14.222 9.374c1.037-.61 1.037-2.137 0-2.748L11.528 5.04 8.32 8l3.207 2.96zm-3.595 2.116L7.583 8.68 1.03 14.73c.201 1.029 1.36 1.61 2.303 1.055zM1 13.396V2.603L6.846 8zM1.03 1.27l6.553 6.05 3.044-2.81L3.333.215C2.39-.341 1.231.24 1.03 1.27"
            />
          </svg>
          <a href="#!" class="text-reset">PlayStore</a>
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row custom-tab mx-5 my-3">
      <div class="col-2 custom-margin-left">Calculators</div>
      <div class="col-2">Best Mutual Funds</div>
      <div class="col-2">AMCs</div>
      <div class="col-2">Recommended Funds</div>
      <div class="col arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-down"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
          />
        </svg>
      </div>
    </div>
    <div class="row custom-tab mx-5 my-3">
      <div class="col-2 custom-margin-left">Top Mutual Funds</div>
      <div class="col-2 custom-col">Invest in Liquid Funds</div>
      <div class="col-2 custom-col">Invest in Index Funds</div>
      <div class="col-2 custom-col">Invest in Gilt Funds</div>
      <div class="col-2 custom-col">Invest in Tax Saving Mutual</div>
      <div class="col-2 custom-col">Invest in Arbitrage Funds</div>
      <div class="col-2 arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-down"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
          />
        </svg>
      </div>
    </div>
    <div class="row custom-tab mx-5 my-3">
      <div class="col-3 custom-margin-left">Learn All About Mutual Funds in India</div>
      <div class="col-2">A Guide To Mutual Fund in India</div>
      <div class="col-2 custom-col">Debt Funds</div>
      <div class="col-2 custom-col">Types of Mutual Funds</div>
      <div class="col-2 custom-col">PPF Interest Rate</div>
      <div class="col-2 custom-col">Mutual Funds</div>
      <div class="col-2 arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-down"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
          />
        </svg>
      </div>
    </div>
    <div class="row text-center mx-5 my-3">
      <p class="fw-bold">
        Mutual funds investments are subject to market risks. Please read all
        scheme related documents before investing. Past performance is not an
        indicator of future returns.
      </p>
      <p class="fw-bold">© Copyright CED Private Limited 2024</p>
      <p class="fw-bold">
        Mutual funds investment service provided by CED Private Limited 2024
      </p>
    </div>

    <!-- Grid row -->
  </div>
</div>
