body {
  background-color: #f8f9fa;
  font-family: "Lato";
}

.details p {
  font-size: 16px !important;
}

.custom-calender{
  box-shadow: 1px 1px 6px 3px #0000000A;
  width: 100%;
  height: 862px;
 
}

.calendar {
  padding: 20px;
  background-color: #fff;
  height: 861px;
}
.calendar-item {
  display: flex;
  align-items: center;
  padding: 5px;
}
.calendar-item .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64.67px;
  height: 72.02px;
  
  background-color: #ffffff;
  margin-right: 10px;
 
  color: #d3d3d3;
  padding: 25px;
  
  border-color: #eeeeee;
  border-style: solid;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;


border-radius: 15px;
border: 1px 0px 0px 0px;
opacity: 0px;

}
.calendar-item.active .date {
  background-color: #ffa953;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  border-radius: 10px;
}
.calendar-item .details {
  flex-grow: 1;
}
.calendar-item .details p {
  margin: 0;
  font-weight: 400;
font-size: 12px;
font-weight: 400;
line-height: 14.4px;
text-align: left;
color: #000000DB;

}
.calendar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.calendar-nav button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.calendar-nav button:hover {
  background-color: #ff6600;
  color: #fff;
  border: 1px solid #ff6600;
}

.upper-heading {
  /* margin-bottom: 10%; */
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
letter-spacing: 0.20000000298023224px;
text-align: left;
margin: 20px 0 20px 10px;

}

.left-circle{
  width: 56px;
  height: 56px;
}


 @media only screen and (max-width: 1024px) {
  .custom-calender {
    display: none;
  }
}

/* @media only screen and (min-width:375px) and (max-width: 425px) {
  .inactive{
    display: none !important;
  }
  .upper-heading{
    display: none !important;
  }
.custom-calender{
  display: inline-flex !important;
}
 
  
} */