body {
  background-color: #f8f9fa;
  font-family: 'Lato';
}

.details p {
  font-size: 16px !important;
}

.calendar {
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
}
.calendar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.calendar-item.active {
  /* background-color: #ffecd2; */
  /* border-left: 5px solid #ff6600; */
}
.calendar-item .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64.67px;
  height: 72.02px;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-right: 10px;
  font-weight: 500;
  color: #d3d3d3;
  padding: 25px;
  border: 1px;
  border-color: #EEEEEE;
  border-style: solid;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.calendar-item.active .date {
  background-color: #ffa953;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.calendar-item .details {
  flex-grow: 1;
}
.calendar-item .details p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
}
.calendar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.calendar-nav button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.calendar-nav button:hover {
  background-color: #ff6600;
  color: #fff;
  border: 1px solid #ff6600;
}

.upper-heading{
  margin-bottom: 10%;
  font-weight: 700;
font-size: 16px;
line-height: 19.2px;
}