<div class="container">
  <div class="calendar">
    <h5 class="upper-heading">Wealth calendar</h5>
    <div class="calendar-item">
      <div class="date">
        <span>15</span>
        <small>Dec</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item">
      <div class="date">
        <span>25</span>
        <small>Dec</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item">
      <div class="date">
        <span>15</span>
        <small>Jan</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item active">
      <div class="date">
        <span>24</span>
        <small>Feb</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item">
      <div class="date">
        <span>26</span>
        <small>Feb</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item">
      <div class="date">
        <span>28</span>
        <small>Feb</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-nav">
      <button>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_242_1994)">
            <path
              opacity="0.4"
              d="M18.6669 8L20.5469 9.88L14.4402 16L20.5469 22.12L18.6669 24L10.6669 16L18.6669 8Z"
              fill="black"
            />
          </g>
          <defs>
            <clipPath id="clip0_242_1994">
              <rect
                width="32"
                height="32"
                fill="white"
                transform="matrix(-1 0 0 1 32 0)"
              />
            </clipPath>
          </defs>
        </svg>
      </button>
      <button>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_242_1991)">
            <path
              opacity="0.4"
              d="M13.3331 8L11.4531 9.88L17.5598 16L11.4531 22.12L13.3331 24L21.3331 16L13.3331 8Z"
              fill="black"
            />
          </g>
          <defs>
            <clipPath id="clip0_242_1991">
              <rect width="32" height="32" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </div>
</div>
