<div class="custom-calender">
  <div class="calendar">
    <h5 class="upper-heading">Wealth calendar</h5>
    <div class="calendar-item inactive">
      <div class="date">
        <span>15</span>
        <small>Dec</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item inactive">
      <div class="date">
        <span>25</span>
        <small>Dec</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item inactive">
      <div class="date">
        <span>15</span>
        <small>Jan</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item active">
      <div class="date">
        <span>24</span>
        <small>Feb</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item inactive">
      <div class="date">
        <span>26</span>
        <small>Feb</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-item inactive">
      <div class="date">
        <span>28</span>
        <small>Feb</small>
      </div>
      <div class="details">
        <p>FD of Rs 1,50,000 in Axis Bank maturing</p>
      </div>
    </div>
    <div class="calendar-nav">
      <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_695_1330)">
        <circle cx="28" cy="28" r="28" transform="matrix(-1 0 0 1 70 14)" fill="white"/>
        </g>
        <g clip-path="url(#clip0_695_1330)">
        <path opacity="0.4" d="M44.6669 34L46.5469 35.88L40.4402 42L46.5469 48.12L44.6669 50L36.6669 42L44.6669 34Z" fill="black"/>
        </g>
        <defs>
        <filter id="filter0_d_695_1330" x="0" y="0" width="84" height="84" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feMorphology radius="2" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_695_1330"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="6"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_695_1330"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_695_1330" result="shape"/>
        </filter>
        <clipPath id="clip0_695_1330">
        <rect width="32" height="32" fill="white" transform="matrix(-1 0 0 1 58 26)"/>
        </clipPath>
        </defs>
        </svg>
        
        <svg width="93" height="93" viewBox="0 0 93 93" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_695_1327)">
          <circle cx="46.5" cy="46.5" r="32.5" fill="white"/>
          </g>
          <g clip-path="url(#clip0_695_1327)">
          <path opacity="0.4" d="M46.3331 39L44.4531 40.88L50.5598 47L44.4531 53.12L46.3331 55L54.3331 47L46.3331 39Z" fill="black"/>
          </g>
          <defs>
          <filter id="filter0_d_695_1327" x="0" y="0" width="93" height="93" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feMorphology radius="2" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_695_1327"/>
          <feOffset/>
          <feGaussianBlur stdDeviation="6"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_695_1327"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_695_1327" result="shape"/>
          </filter>
          <clipPath id="clip0_695_1327">
          <rect width="32" height="32" fill="white" transform="translate(33 31)"/>
          </clipPath>
          </defs>
          </svg>
          
    </div>
  </div>
</div>
