.card-custom-top {
  margin-bottom: 3%;
  margin-top: 5%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  
 
}

.total-wealth-heading {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding: 16px;
}

.members-no {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  margin-left: 100px;
}

.card-custom {
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: 5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.card-header-custom {
  border-radius: 10px !important;
  background: linear-gradient(to right, #fff1da, #fef9f3);
  color: #333;
}

.card-header-custom-second {
  border-radius: 10px !important;
  color: #333;
  height: 212px;
  background-image: url(assets/Images/img15.jpg);
background-position:center;
background-repeat: no-repeat;
color: #ffffff;
}

.get-started{
  color: white !important;
}

.icon {
  font-size: 1.5rem;
}

.investments {
  background-color: #fff;
  border-radius: 15px;
  padding: 5%;
}

.investments .nav-link {
  color: #6c757d;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 10px;
  margin-bottom: 10%;
  margin-top: -1%;
}

.investments .nav-link:hover,
.investments .nav-link.active {
  background-color: #f0f0f0;
}

.investment-card {
  border-radius: 15px;
  padding: 10%;
}

.profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.family-members {
  background-color: #fff;
  border-radius: 15px;
}

.family-members .member-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10%;
  background-color: #f8f8f8;
}

.family-members .member-card:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.family-members .member-card img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.btn-add-family {
  color: #ff6600;
}

.investment-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  margin-top: 5%;
}

.highlight-bar {
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #0d6efd;
}

.header-text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-family-member {
  text-align: center;
  margin-top: 20px;
}

.invest-now {
  color: #f58024;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.cagr {
  color: #63bf97;
  font-weight: 400;
}

.investments-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 5%;
}

.investments-item .inv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 120%;
  min-width: 60%;
  max-height: 40%;
  min-height: 20%;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  background-color: #ffffff;
  font-weight: 500;
  color: #d3d3d3;
  padding: 20%;
  font-weight: 600;
  text-align: center;
  border-color: #eeeeee;
  border-style: solid;
  margin-bottom: 20%;
  margin-top: 15%;
}

.inv .active {
  border-color: #f58024;
  border-style: solid;
  border: 1px 0px 0px 0px;
}

.small-text {
  font-size: 10px;
  font-weight: 500;
  line-height: 0.8rem;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.big-text {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  color: black;
}

.line-divide {
  margin-top: -7%;
}

.investments-list {
  margin-right: 5%;
}

.asset-bar {
  height: 15%;
  background-color: #eff6ff;
  width: 80%;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.asset-fill {
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
}

.asset-text {
  font-size: 0.9rem;
  margin-top: 2%;
}

.lower-card {
  padding: 5%;
}

.custom-btn {
  background-color: #eff6ff;
  color: black;
  width: 100%;
}

.search-bar {
  max-width: 50%;
  position: relative;
}

.search-bar input {
  border-radius: 30px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.upper-row {
  padding-top: 2%;
}

.middle-card {
  color: #000000 !important;
  font-size: 14px;
  font-weight: 700 !important;
  line-height: 16.8px;
  text-align: left;
}

.upper-card-text {
  color: #ff7101;
}

.card-bg {
  background-image: url("/assets/Images/bg2.jpg");
}

.upper-card-text {
  color: #ff7101;
}

.custom-margin {
  margin-left: 2%;
}

.profit {
  float: right;
  margin-left: 90%;
  color: #63bf97;
  font-weight: 400;
}

@media only screen and (max-width: 1440px) {
  .container-fluid {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 455px) {
  .chair-selfie {
    display: none;
  }
  .rich {
    margin-left: 25%;
  }
  .investments-item {
    display: inline-flex;
    padding-right: 12%;
  }
}

@media only screen and (max-width: 425px) {
  .chair-selfie {
    display: none;
  }
  .rich {
    margin-left: 30%;
  }
  .rich-btn {
    display: none;
  }

  .investments-item .inv{
    padding: 10%;
  }

 }


