body {
  font-family: "Lato";
}

.header-text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.investment-card {
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.investment-card img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.add-family-member {
  text-align: center;
  margin-top: 20px;
}

.card-custom {
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-header-custom {
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  border-radius: 15px 15px 0 0;
  padding: 20px;
  color: #333;
}
.card-body-custom {
  width: 100%;
  height: 100%;
  gap: 0px;
  opacity: 0px;
  margin-top: 2%;
}

.family-members {
  background-color: #fff;
  border-radius: 15px;
}
.family-members .member-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  width: 341px;
  height: 80px;
  border-radius: 10px;
}
.family-members .member-card:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}
.family-members .member-card img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.btn-add-family {
  color: #ff6600;
}

.investment-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}

.member-info {
  padding: 20px 0px 0px 20px;
}

.member-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

.member-amount {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: right;
  margin-top: -10%;
  margin-right: 5%;
}
