@media screen and (max-width: 425px) {
    .container-fluid{
        padding: 20px !important;
        margin-left: 0px !important;
    }
    
}

@media screen and (min-width: 1024px) and  (max-width: 2540px)  {
    .custom-sidebar{
        padding: 0;
    }
    
    .custom-wealth-calender{
        padding-right: 0;
    }

}
