<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-7">
        <app-main-dashboard></app-main-dashboard>
       
      </div>
      <div class="col-md-3">
        <app-wealth-calender></app-wealth-calender>
      </div>
    </div>
    <!-- <div class="row">
        <app-investments-family></app-investments-family>
    </div> -->
  </div>
  <app-footer></app-footer>
<!-- <app-main-dashboard></app-main-dashboard> -->